@font-face {
    src: url("Roboto-Regular.ttf");
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.aplicationDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.settingsDiv{
    width: 350px;
    overflow-y: scroll;
    padding: 15px;
    background-color: #eae9e7;
}

.settingsDiv h2{
    margin: 0 0 15px 0;
    font-weight: 500;
}

.settingsDiv h3{
    margin: 0 0 2px 0;
    font-weight: 500;
    font-size: 1.22em;
}

.settingsDiv .headerDiv{
    margin-top: 5px;
    display: flex;
}

.settingsDiv .infoA{
    margin-left: 8px;
}

.settingsDiv .infoA img{
    width: 20px;
    height: 20px;
}

.settingsDiv select{
    width: 150px;
    padding: 3px;
}

.settingsDiv > select{
    margin-top: 5px;
}

.dataOptionsDiv{
    padding-top: 5px;
    margin-top: 20px;
    border-top: 2px solid #000000;
}

.dataOptionsDiv .inputsDiv{
    margin-top: 1px;
    margin-bottom: 20px;
}

.tsneOptionsDiv{
    margin-top: 10px;
}

.tsneOptionsDiv .inputsDiv{
    margin-top: 5px;
}

.tsneOptionsDiv .inputsDiv label{
    display: block;
    margin: 5px 0 2px 0;
}

.tsneOptionsDiv .inputsDiv input{
    width: 150px;
    display: block;
    padding: 3px;
    margin-top: 0px;
}

.runOptionsDiv{
    margin-top: 25px;
}

.runOptionsDiv button{
    height: 35px;
}

.runOptionsDiv .runButton{

    width: 100px;
}

.runOptionsDiv .restartButton{
    width: 40px;
    margin-left: 10px;
}

.buttonsDiv{
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.runOptionsDiv p{
    margin: 5px 0;
}

.colorOptionsDiv {
    padding-top: 5px;
    margin-top: 20px;
    border-top: 2px solid #000000;
}

.colorOptionsDiv select{
    margin-top: 5px;
}

.choseAreaOptionsDiv{
    padding-top: 5px;
    margin-top: 20px;
    border-top: 2px solid #000000;
}

.choseAreaOptionsDiv > label{
    margin: 5px 0 2px 0;
}

.choseAreaOptionsDiv .splitDiv{
    display: flex;
}

.choseAreaOptionsDiv .splitDiv{
    display: flex;
}

.choseAreaOptionsDiv .rightDiv{
    margin-left: 10px;
}

.choseAreaOptionsDiv .splitDiv input{
    width: 44px;
    margin-bottom: 10px;
}

.choseAreaOptionsDiv .splitDiv input{
    width: 44px;
    margin-bottom: 10px;
}

.choseAreaOptionsDiv .chooseCategoryDiv label{
    display: block;
    margin: 5px 0 2px 0;
}

.choseAreaOptionsDiv button{
    width: 100px;
    height: 35px;
    margin-top: 25px;
}

.nextDiv{
    margin-bottom: 45px;
}

.graphDiv{
    flex: 1;
    height: 100%;
}

